$index: calc(1vw + 1vh);
$font-stack:    Helvetica, sans-serif;
$text-color: #454545;

$green-color-1: #248456;
$green-color-2: #0ca565;
$blue-color: #1c3f9b;
$purple-color: #920fbf;
$red-color: #ce3607;
$background-color: #d9d9d9;

$checkbox-circle: #fff;
$checkbox-checked: #64daa9;
$checkbox-unchecked: #CDD1DA;

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
  font-family: 'Mukta', sans-serif;
  margin: 0;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

.pixel-perfect {
  clip-path: url(#clipping);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: relative;
}

#ref {
  opacity: 0;
}

// figures 
#green-big-circle,
#green-small-circle,
#red-triangle,
#purple-rectangle,
#blue-rectangle,
#background {
  position: absolute;
}

#green-big-circle {
  top: -80px;
  left: -70px;
  width: 240px;
  height: 240px;

  background: $green-color-1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#green-small-circle {
  top: 103px;
  left: 169px;
  width: 75px;
  height: 75px;
  
  background: $green-color-2;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#red-triangle {
  top: 0;
  left: 226px;

  border-style: solid;
  border-width: 0 0 82px 75px;
  border-color: transparent transparent $red-color transparent;
}

#purple-rectangle {
  top: 202px;
  left: 38px;
  width: 226px;
  height: 60px;

  background: $purple-color;
  border-radius: 22px;
}

#blue-rectangle {
  left: 58px;
  top: 60px;
  height: 233px;
  width: 35px;

  background: $blue-color;
  transform: rotate(-42.79deg);
  transform-origin: top left;
}

#background {
  width: 301px;
  height: 301px;

  background: $background-color;
}

// controls

.checkbox input,
.checkbox__text:before,
.checkbox__text:after  {
  position: absolute;
}

h1 {
  font-size: calc(1.7 * $index);
  text-align: center;
  margin-bottom: calc(2 * $index);
}

.controls {
  display: block;
  position: relative;

  padding-top: 0px;
  padding-left: 30px;
  margin-bottom: 10px;

  font-size: 13px;
  cursor: pointer;
}

.checkbox input {
	margin-bottom: 10px;
  margin-left: 20px;

  z-index: -1;
	opacity: 0;
}

.checkbox__text {
	position: relative;

	padding-left:  60px;
  margin-bottom: 20px;

	cursor: pointer;
}
.checkbox__text:before {
	content: '';

	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;

	border-radius: 13px;
	background: $checkbox-unchecked;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .15s;
}
.checkbox__text:after {
	content: '';

	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;

	border-radius: 50%;
	background: $checkbox-circle;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .15s;
}
.checkbox input:checked + .checkbox__text:before {
	background: $checkbox-checked;
}
.checkbox input:checked + .checkbox__text:after {
	left: 26px;
}
